
header {
    background-color: #ffcccc;
    font-family: 'Comic Sans MS', sans-serif;
    font-style: italic;
    position: relative;
}


footer {
    background-color: #ffcccc;
    font-family: 'Comic Sans MS', sans-serif;
    font-style: italic;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


body {
    font-family: 'Comic Sans MS', sans-serif;
    font-style: italic;
    position: relative;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url(../img/PinkBlack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 100px
}


.btn-custom-pink_grey {
    background-color: grey;
    border-color: #ffcccc;
    color: #ffcccc;
    border-width: 3px;
    border-style: outset;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}
    .btn-custom-pink_grey:hover {
        background-color: #ffcccc;
        border-color: grey;
        color: black;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }

.card {
    border: none;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
    .card:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

.button-container {
    margin-top: 40px;
}

.search-bar {
    border: 1px solid #ced4da;
    border-radius: 40px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    padding: 8px 12px; 
    width: 300px; 
    outline: none; 
}

.filter-letter {
    background-color: #ffcccc;
    color: dimgray; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 40px; 
}

.cardGallery {
    border: none;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px; 
    height: 400px; 
    margin: 10px; 
}

.card-image {
    width: 100%;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    margin: 0 5px;
    background-color: grey;
    border-color: #ffcccc;
    color: #ffcccc;
    border-width: 3px;
    border-style: outset;
    border-radius: 50px;
    transition: all 0.4s ease;
}

.custom-pagination .page-link {
    color: #ffcccc;
    border-color: #ffcccc;
    background-color: grey;
    border-radius: 50px;
    transition: all 0.4s ease;
}

    .custom-pagination .page-link:hover {
        background-color: #ffcccc;
        border-color: grey;
        color: black;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }


.cart-icon {
    color: #97004b;
    margin-right: 40px;
    position: relative;
}


    .cart-icon:hover {
        color: darkmagenta;
    }

    .cart-icon:active {
        color: darkmagenta;
    }

.cart-counter {
    background-color: #ffcccc;
    color: #97004b;
    border-radius: 40%;
    position: absolute;
    top: 0px;
    right: -15px;
}

