
header {
    background-color: #ffcccc;
    font-family: 'Comic Sans MS', sans-serif;
    font-style: italic;
    position: relative;
}


footer {
    background-color: #ffcccc;
    font-family: 'Comic Sans MS', sans-serif;
    font-style: italic;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


body {
    font-family: 'Comic Sans MS', sans-serif;
    font-style: italic;
    position: relative;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url(../img/PinkBlack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 100px
}


.btn-custom-pink_grey {
    background-color: grey;
    border-color: #ffcccc;
    color: #ffcccc;
    border-width: 3px;
    border-style: outset;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}
    .btn-custom-pink_grey:hover {
        background-color: #ffcccc;
        border-color: grey;
        color: black;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }

.card {
    border:none;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
    .card:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

.button-container {
    margin-top: 40px;
}

.search-bar {
    border: 1px solid #ced4da;
    border-radius: 40px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    padding: 8px 12px; 
    width: 300px; 
    outline: none; 
}
