@model AnniesPastryShop.Core.Models.Customer.RegisterCustomerViewModel

<body>
    <div class="container">
        <h1>Almost there</h1>
        <p>Please add your full name to become part of our sweet family.</p>
        <form method="post" asp-action="RegisterCustomer">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="text" id="FullName" name="FullName" asp-for="FullName" class="form-control" placeholder="Your Full Name" style="width: 350px;" required>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <button type="submit" class="btn btn-custom-pink_grey">Register</button>
            </div>
        </form>
    </div>
</body>