@{
    ViewData["Title"] = "Annie's Pastry Shop";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Welcome to our pastry shop! We are passionate about crafting delicious pastries and desserts that bring joy to our customers.</p>
            <p>Our mission is to provide high-quality, freshly baked treats made with the finest ingredients. Whether you're craving cakes, pies, cupcakes, or cookies, we have something to satisfy your sweet tooth.</p>
            <p>Visit our shop today and indulge in our delectable creations!</p>
            <h3>Contact Us</h3>
            <p><strong>Phone:</strong> 561-567-3295</p>
            <p><strong>Email:</strong> AnniePS@gmail.com</p>
            <p><strong>Address:</strong> 90 Bedford St, New York, NY 10014, USA</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/FgrIyJpWIAA-qYI.jpg" alt="Image" class="img-fluid" style="max-width: 70%; height: auto; margin-left: 200px;">
        </div>
    </div>
</div>