@{
    ViewData["Title"] = "Error 400 - Bad Request";
    Layout = "_Layout";
}

<div style="text-align: center; margin-top: 50px;">
    <h1 style="font-size: 6em; color: #ff7f7f;">400</h1>
    <p style="font-size: 1.5em; color: #333;">Sorry, we couldn't bake this page properly. Seems like a bad request. Let's mix things up and try again!</p>
    <a href="/" class="btn btn-custom-pink_grey" style="text-decoration: none;">Go to Home Page</a>
</div>