@{
    ViewData["Title"] = "Error 401 - Unauthorized";
    Layout = "_Layout";
}

<div style="text-align: center; margin-top: 50px;">
    <h1 style="font-size: 6em; color: #ff7f7f;">401</h1>
    <p style="font-size: 1.5em; color: #333;">Sorry, you don't have the secret recipe to access this page. Time to reveal the secret ingredient and try again!</p>
    <a href="/" class="btn btn-custom-pink_grey" style="text-decoration: none;">Go to Home Page</a>
</div>