@{
    ViewData["Title"] = "Error 500 - Internal Server Error";
    Layout = "_Layout";
}

<div style="text-align: center; margin-top: 50px;">
    <h1 style="font-size: 6em; color: #ff7f7f;">500</h1>
    <p style="font-size: 1.5em; color: #333;">Oops! Something went wrong in the kitchen. Looks like we accidentally added salt instead of sugar. We're working to sweeten things up!</p>
    <a href="/" style="text-decoration: none; background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px;">Go to Home Page</a>
</div>