@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="position: relative; top: -17px; background-image: url('../img/81.png'); background-size: 65%; background-repeat: no-repeat;background-position: center bottom;max-width: 870px; margin: auto">
    <h1 class="display-4" style="position: relative; z-index: 1;">Annie's Pastry Shop</h1>
    <p>Welcome to Annie's Pastry Shop, where sweetness meets perfection!</p>
</div>
</div>
    <p>Indulge in our delightful array of freshly baked treats made with love and care. From cakes to pies, we have something to satisfy every craving.</p>
    <p>Explore our offerings:</p>
    
    <p>Whether you're celebrating a special occasion or simply treating yourself, Annie's Pastry Shop is here to make every moment sweeter.</p>
</div>

@section Scripts {
    <script>
        // Place your script here
    </script>
}