@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="position: relative; top: -17px; background-image: url('../img/81.png'); background-size: 65%; background-repeat: no-repeat;background-position: center bottom;max-width: 870px; margin: auto">
    <h1 class="display-4" style="position: relative; z-index: 1;">Annie's Pastry Shop</h1>
    <p>Sweet</p>
</div>
